@charset "UTF-8";
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-black-color: #000000;
  --footer-bcg-color: #2f303a;
  --footer-adr-color: rgba(255, 255, 255, 0.6);
  --secondary-bcg-color: #f5f4fa;
  --time-func: cubic-bezier(0.4, 0, 0.2, 1);
  --maine-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.social-item:last-child {
  margin-right: 0;
}

.social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 250ms var(--time-func), background-color 250ms var(--time-func);
}

.social-link:hover, .social-link:focus {
  background: var(--accent-color);
}

.social-icon {
  fill: #afb1b8;
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: var(--primary-white-color);
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: var(--maine-font);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* section */
.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

/* Контакты в футере */
.footer {
  flex-direction: column;
  padding: 60px 0;
  background-color: var(--footer-bcg-color);
  margin: 0 auto;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 94px 0;
  }
}

@media screen and (min-width: 1200px) {
  .container-bottom {
    display: flex;
  }
}

.item-contacts:not(:last-child) {
  margin-bottom: 9px;
}

.item-contacts {
  transition: color 250ms var(--time-func);
}

.bottom-left {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .bottom-left {
    margin-right: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .bottom-left {
    width: 231px;
    margin-right: 70px;
  }
}

.footer-list {
  list-style: none;
  color: var(--primary-white-color);
}

.footer-list .footer-link {
  color: var(--footer-adr-color);
  text-decoration: none;
  transition: color 250ms var(--time-func);
}

.footer-list :hover,
.footer-list :focus {
  color: var(--accent-color);
}

.footer-adress {
  margin-top: 20px;
  margin-bottom: 60px;
  font-style: inherit;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.footer-adress :not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .footer-adress {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .links {
    margin-top: 20px;
    margin-bottom: 60px;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .contact-social-wraper {
    display: flex;
    justify-content: center;
  }
}

.bottom-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.bottom-icon-list {
  display: flex;
  justify-content: center;
}

.item-bottom {
  fill: var(--primary-white-color);
}

.bottom-icon-list-item {
  width: 44px;
  height: 44px;
}

.bottom-icon-list-item .link:hover,
.bottom-icon-list-item .link:focus {
  background-color: var(--accent-color);
}

.bottom-icon-list-item .link {
  fill: currentColor;
}

.bottom-icon-list-item:not(:last-child) {
  margin-right: 10px;
}

.icon-link {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 250ms var(--time-func), background-color 250ms var(--time-func);
}

.form-footer {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .form-footer {
    width: 570px;
    height: 86px;
    margin-left: 93px;
  }
}

@media screen and (max-width: 1199px) {
  .form-subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .form-subscribe {
    display: flex;
  }
}

.input-subscribe {
  margin-bottom: 20px;
  padding-left: 16px;
  position: relative;
  width: 358px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
}

.btn-subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;
  background-color: var(--accent-color);
  cursor: pointer;
  color: var(--primary-white-color);
  margin-left: 12px;
  box-shadow: 0px 4px 4px 0px #00000026;
}

.btn-name {
  font-family: var(--maine-font);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  margin-right: 10px;
}

.btn-svg-icon {
  fill: var(--primary-white-color);
}

.modal {
  position: absolute;
  padding: 40px;
  z-index: 102;
  top: 67%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms var(--time-func);
  width: 450px;
  height: 609px;
  background: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
    top: 50%;
  }
}

.text-modal-form {
  font-family: var(--maine-font);
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.form-modal {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
}

.label-modal {
  margin-bottom: 4px;
  font-family: var(--maine-font);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.input-modal {
  display: inline-grid;
  position: relative;
  margin-bottom: 10px;
}

.input-form {
  height: 40px;
  padding-left: 42px;
}

.svg-modal {
  position: absolute;
  margin-left: 12px;
  top: 50%;
  transform: translateY(-50%);
  height: 18px;
  width: 18px;
  transition: fill 250ms var(--time-func);
}

.textarea-form {
  padding: 12px 16px;
  height: 120px;
  width: 100%;
  font-family: var(--maine-font);
  margin-bottom: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
}

.link-conditions {
  color: var(--accent-color);
}

.policy {
  margin-bottom: 30px;
  text-align: center;
}

.label-policy {
  font-family: var(--maine-font);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.label-policy::before {
  display: inline-block;
  content: '';
  vertical-align: middle;
  margin-right: 8px;
  border: 1px solid var(--primary-text-color);
  border-radius: 4px;
  height: 16px;
  width: 15px;
  transition: background-color 250ms linear var(--time-func) transrorm 250ms linear var(--time-func);
}

.input-policy:focus + .label-policy::before {
  border: 2px solid var(--accent-color);
}

.input-policy:checked + .label-policy::before {
  border: 1px solid var(--accent-color);
  background-color: var(--accent-color);
  background-image: url(../images/icon_check.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.input-form:placeholder-shown {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms var(--time-func);
}

.input-form:placeholder-shown:focus,
.textarea-form:placeholder-shown:focus {
  outline: none;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}

.textarea-form:placeholder-shown {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms var(--time-func);
}

.input-form:focus + .svg-modal {
  fill: var(--accent-color);
}

.btn-form-link {
  color: var(--primary-white-color);
  border: none;
  padding: 0;
  width: 200px;
  height: 50px;
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: var(--maine-font);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  transition: color 250ms var(--time-func), background-color 250ms var(--time-func), box-shadow 250ms var(--time-func);
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  color: var(--title-text-color);
  background: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.btn-close:hover,
.btn-close:focus > .close-icon {
  fill: var(--accent-color);
  transition: color 250ms linear var(--time-func) transrorm 250ms linear var(--time-func);
}

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms var(--time-func);
  z-index: 2;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.logo-name__header {
  text-decoration: none;
  color: var(--primary-black-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .logo-name__header {
    margin-right: 88px;
  }
}

.logo-name__footer {
  color: var(--primary-white-color);
  display: inline-block;
}

@media screen and (min-width: 1200px) {
  .logo-name__footer {
    margin-bottom: 20px;
  }
}

.logo-name {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  transition: color 250ms var(--time-func);
}

.logo-name:hover {
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .logo-name {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo-web {
  color: var(--accent-color);
}

.logo-mobmenu-block {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  position: absolute;
  right: 0;
  z-index: 100;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.menu:hover .icon-close,
.menu:hover .icon-menu .menu:focus .icon-close,
.menu:focus .icon-menu {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .menu {
    display: none;
  }
}

.menu .icon-close {
  display: none;
}

.menu.is-open .icon-close {
  display: block;
}

.menu.is-open .icon-menu {
  display: none;
}

@media screen and (max-width: 767px) {
  .navigation-menu {
    display: none;
    z-index: 10;
    padding: 48px 40px;
    background-color: #fff;
    position: absolute;
    content: '';
    text-align: center;
    display: none;
    width: 100%;
    top: 0;
    left: 0;
  }
  .navigation-menu.navigation-menu.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .navigation-menu {
    display: flex;
    align-items: center;
  }
}

.button-hero {
  display: block;
  margin: 0 auto;
  padding: 10px 32px;
}

.button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  color: var(--title-text-color);
  background-color: var(--secondary-bcg-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.button:hover, .button:focus {
  background-color: var(--primary-white-color);
  color: var(--accent-color);
}

button.primary {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  transition: color 250ms var(--time-func), background-color 250ms var(--time-func);
}

button.secondery {
  background-color: var(--primary-white-color);
  color: var(--accent-color);
  transition: color 250ms var(--time-func), background-color 250ms var(--time-func);
}

.button-filtr {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  transition: color 250ms var(--time-func), background-color 250ms var(--time-func), box-shadow 250ms var(--time-func);
}

.button-filtr:hover, .button-filtr:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 4px 4px 0px #00000040;
}

.button-filtr.active {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 4px 4px 0px #00000040;
}

/* Hero */
.hero {
  background: var(--footer-bcg-color);
  padding: 118px 0;
  max-width: 480px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero/hero_img_m.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero/hero_img_m@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero/hero_img_t.jpg");
    max-width: 768px;
    height: 400px;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero/hero_img_t@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero/hero_img_d.jpg");
    max-width: 1600px;
    height: 600px;
    padding: 200px 0;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-img-d@2x.jpg");
  }
}

.hero-title {
  text-transform: uppercase;
  text-align: center;
  color: var(--primary-white-color);
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153;
  margin-bottom: 30px;
  letter-spacing: 0.06em;
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.364;
  }
}

/* section team */
.list-team {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .list-team {
    flex-direction: row;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .list-team {
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
}

.team-icon {
  display: flex;
  flex-direction: column;
  margin: 15px;
  background-color: var(--primary-white-color);
  width: 450px;
  box-shadow: 0px 4px 4px 0px #00000040;
}

@media screen and (min-width: 768px) {
  .team-icon {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .team-icon {
    width: calc(100% / 4 - 30px);
    margin: 0;
    margin-left: 30px;
    margin-bottom: 30px;
  }
}

.section-team {
  background-color: var(--secondary-bcg-color);
  padding: 60px 0;
}

.section-team .team-title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team-list-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.team-item-descrip {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* section clients */
.section-clients {
  background-color: var(--primary-white-color);
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .section-clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients-icon {
  fill: currentColor;
  transition: fill 250ms var(--time-func);
}

.list-clients {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -15px;
}

.clients-icon-background {
  margin: 15px;
  width: calc((100% - 2 * 30px) / 2);
}

@media screen and (min-width: 768px) {
  .clients-icon-background {
    width: calc((100% - 3 * 30px) / 3);
  }
}

@media screen and (min-width: 768px) {
  .clients-icon-background {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-icon-background {
    width: calc((100% - 6 * 30px) / 6);
    margin-right: 15px;
  }
}

.item-box {
  color: #afb1b8;
  display: flex;
  height: 92px;
  width: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  transition: border-color 250ms var(--time-func);
}

.item-box:hover, .item-box:focus {
  border-color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .item-box {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .item-box {
    height: 92px;
    width: 170px;
  }
}

.item-box:focus .clients-icon,
.item-box:hover .clients-icon {
  fill: var(--accent-color);
}

/* section doing */
.thumb {
  position: relative;
}

.text-doing {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 70px;
  width: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  align-items: center;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  color: var(--primary-white-color);
}

.section-doing {
  padding-bottom: 94px;
  display: none;
}

@media screen and (min-width: 1200px) {
  .section-doing {
    display: block;
  }
}

.list-doing {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.list-doing-item {
  width: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}

/* section features */
.section-features .features-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.section-features {
  padding: 60px 0;
  min-width: 320px;
  margin: 0 auto;
}

.list-features {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .list-features {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.features-item {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .features-item {
    width: 354px;
  }
  .features-item:nth-child(odd) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features-item {
    width: 270px;
  }
  .features-item:not(:last-child) {
    margin-right: 30px;
  }
}

.features-icon-background {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 100%;
  margin-bottom: 30px;
  background-color: var(--secondary-bcg-color);
  border-radius: 4px;
}

/* section portfolio */
.portfolio-list .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio-list-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.menu-partfolio {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .menu-partfolio {
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .menu-partfolio {
    margin-bottom: 50px;
  }
}

.item-filtr:not(:last-child) {
  margin-right: 8px;
}

.item-filtr:not(:last-child) :nth-child(-n + 3) {
  margin-bottom: 15 px;
}

.section-portfolio {
  padding-top: 60px;
}

@media screen and (min-width: 1200px) {
  .section-portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.portfolio-item-descrip {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-list {
    margin-bottom: -30px;
    padding-bottom: 60px;
  }
}

.item-portfolio {
  width: calc(100% / 1 - 30px);
  margin-bottom: 30px;
}

.item-portfolio:hover .overlay-box {
  transform: translateY(0%);
}

@media screen and (min-width: 768px) {
  .item-portfolio {
    width: calc(100% / 2 - 30px);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .item-portfolio {
    width: calc(100% / 3 - 30px);
  }
}

.portfolio-project-item:focus .overlay-box {
  transform: translateY(0%);
}

.portfolio-project-item {
  display: inline-block;
  transition: box-shadow 1000ms var(--time-func);
}

.portfolio-project-item:focus, .portfolio-project-item:hover {
  box-shadow: 0px 4px 4px 0px #00000040;
}

.image-portfolio {
  position: relative;
  overflow: hidden;
}

.overlay-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms var(--time-func);
}

.overlay-box-text {
  padding: 63px 24px 63px 24px;
  margin: 0;
  color: var(--primary-white-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
}

.image-item {
  display: block;
  max-width: 100%;
  height: auto;
}

.button-filtr {
  padding: 6px 22px;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .button-filtr {
    margin-bottom: 0;
  }
}

/* site nav */
.header {
  border-bottom: 1px solid #ececec;
  position: relative;
}

@media screen and (max-width: 767px) {
  .header {
    padding: 16px 0;
  }
}

.header-nav__cont {
  display: flex;
  align-items: center;
}

.header-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .header-menu__item:not(:last-child) {
    margin-right: 50px;
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 768px) {
  .header__container {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .header__container {
    display: flex;
    justify-content: space-between;
  }
}

.connect-item {
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .connect-item {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 768px) {
  .nav-link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .connect-item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .connect-item:not(:last-child) {
    margin-right: 50px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .header__nav {
    display: flex;
  }
}

.header__nav .link {
  font-size: 40px;
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.02em;
  transition: color 250ms var(--time-func);
}

@media screen and (min-width: 768px) {
  .header__nav .link {
    font-size: 14px;
    line-height: 1.14;
  }
}

.header__nav .link:hover,
.header__nav .link:focus {
  color: var(--accent-color);
}

.header__nav .link.current {
  color: var(--accent-color);
  transition: filter 250ms var(--time-func);
}

@media screen and (min-width: 768px) {
  .header__nav .link.current {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}

@media screen and (min-width: 768px) {
  .current.link::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    bottom: -1px;
    left: 0;
    background: var(--accent-color);
    border-radius: 2px;
  }
}

/* Контакты в шапке */
.header-contact__link {
  list-style: none;
  display: flex;
  flex-direction: column-reverse;
  margin-left: auto;
  margin-top: 306px;
}

@media screen and (min-width: 768px) {
  .header-contact__link {
    flex-direction: column;
    font-size: 14px;
    line-height: 1.14;
    margin-top: 0px;
    margin-left: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .header-contact__link {
    display: flex;
    flex-direction: row;
  }
}

.header-contact__link .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms var(--time-func);
}

@media screen and (min-width: 768px) {
  .header-contact__link .link {
    font-size: 14px;
    line-height: 1.14;
  }
}

.header-contact__link .link:hover,
.header-contact__link .link:focus {
  color: var(--accent-color);
  font-size: 40px;
}

@media screen and (min-width: 768px) {
  .header-contact__link .link:hover,
  .header-contact__link .link:focus {
    font-size: 14px;
    line-height: 1.14;
  }
}

.connect-item__all {
  display: block;
  align-items: center;
  display: flex;
  fill: currentColor;
}

.icon-picture {
  display: none;
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .icon-picture {
    display: block;
  }
}

.social-mobile-list {
  margin-top: 32px;
  display: flex;
}

@media screen and (min-width: 768px) {
  .social-mobile-list {
    display: none;
  }
}

.social-mobile-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.social-mobile-item:not(:last-child) {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
/*# sourceMappingURL=main.css.map */