/* section features */
.section-features .features-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.section-features {
  padding: 60px 0;
  min-width: 320px;
  margin: 0 auto;

  // padding-top: 94px;
  // padding-bottom: 94px;
}
.list-features {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.features-item {
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    width: 354px;
    &:nth-child(odd) {
      margin-right: 30px;
    }
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.features-icon-background {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 100%;
  // width: 270px;
  margin-bottom: 30px;
  background-color: var(--secondary-bcg-color);
  border-radius: 4px;
}
