.button-hero {
  display: block;
  margin: 0 auto;
  padding: 10px 32px;
}
.button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  color: var(--title-text-color);
  background-color: var(--secondary-bcg-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  &:hover,
  &:focus {
    background-color: var(--primary-white-color);
    color: var(--accent-color);
  }
}
button.primary {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  transition: color 250ms var(--time-func),
    background-color 250ms var(--time-func);
}
button.secondery {
  background-color: var(--primary-white-color);
  color: var(--accent-color);
  transition: color 250ms var(--time-func),
    background-color 250ms var(--time-func);
}

.button-filtr {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  transition: color 250ms var(--time-func),
    background-color 250ms var(--time-func), box-shadow 250ms var(--time-func);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    box-shadow: 0px 4px 4px 0px #00000040;
  }
  &.active {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    box-shadow: 0px 4px 4px 0px #00000040;
  }
}
