.logo-name__header {
  text-decoration: none;
  color: var(--primary-black-color);
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 88px;
  }
}

.logo-name__footer {
  color: var(--primary-white-color);
  display: inline-block;
  @media screen and (min-width: 1200px) {
    margin-bottom: 20px;
  }
}
.logo-name {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  transition: color 250ms var(--time-func);
  &:hover {
    color: var(--accent-color);
  }
  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }
}
.logo-web {
  color: var(--accent-color);
}
.logo-mobmenu-block {
  position: relative;
  display: flex;
  align-items: center;
  // justify-content: space-between;
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.menu {
  position: absolute;
  right: 0;
  z-index: 100;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;

  &:hover .icon-close,
  &:hover .icon-menu &:focus .icon-close,
  &:focus .icon-menu {
    fill: var(--accent-color);
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu .icon-close {
  display: none;
}
.menu.is-open .icon-close {
  display: block;
}
.menu.is-open .icon-menu {
  display: none;
}
.menu.is-open {
  position: fixed;
  right: 10px;
}
.navigation-menu {
  @media screen and (max-width: 767px) {
    position: fixed;
    display: flex;
    flex-direction: column;
    // display: none;
    transform: translateX(100%);
    transition: transform 250ms var(--time-func);
    z-index: 10;
    padding: 48px 40px;
    background-color: #fff;
    text-align: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    &.navigation-menu.is-open {
      transform: translateX(0%);
      overflow-y: auto;
    }
  }
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}
